/* All star */


/* 缓动函数 */


/* transition: all 600ms cubic-bezier(.23, 1, .32, 1);
    animation-duration: 5s; */


/* -webkit-transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition: all 600ms cubic-bezier(0.95, 0.05, 0.795, 0.035); */

* {
    padding: 0px;
    margin: 0px;
    /* animation-duration: 5s; */
    /* transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1); */
}

.FPlayer_Animation {
    transition: all 600ms cubic-bezier(.23, 1, .32, 1);
    animation-duration: 5s;
}


/* All over */


/* musicPlayerBeforeBar star */

#FPAll {
    width: 300px;
    height: 160px;
    /* border: solid 1px black; */
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    /* padding: 12px; */
    /* box-sizing: border-box; */
    box-shadow: 0px 0px 10px black;
    top: 50px;
    left: 5px;
}


/* musicPlayerBeforeBar over */


/* 控制面板 star */

#FPControlBar {
    width: 300px;
    height: 120px;
    background-color: rgb(70, 46, 124);
    position: absolute;
    z-index: 1;
}

#FPImgBar {
    position: absolute;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
    transform: translateY(-10%);
}

#FPImgBar img {
    width: 100%;
    height: auto;
    /*float: left;*/
    /*padding: 5%;*/
}

#FPMusicName {
    overflow: hidden;
}

#FPArtistName {
    overflow: hidden;
}

#FPButtonBarAll {
    width: 100%;
    height: 100%;
    float: right;
    position: relative;
    background-color: rgba(0, 0, 0, 0.4);
}

#FPArtistBar {
    width: 100%;
    height: 60%;
    float: left;
}

#FPArtistBar p:nth-child(1) {
    height: 65%;
    display: block;
    color: white;
    width: 100%;
    font-size: 30px;
    margin-left: 6%;
    /*background-color: #fff;*/
}

#FPArtistBar p:nth-child(2) {
    width: 100%;
    height: 35%;
    display: block;
    color: #c2c2c2;
    font-size: 15px;
    margin-left: 6%;
}

.FPControlButton {
    width: 25%;
    height: 30%;
    float: left;
}

.FPControlButton img {
    width: 100%;
    height: 100%;
}

#button_back {
    transform: rotateY(180deg);
}

#button_list {
    transform: scale(.9);
}

/* 控制面板 over */


/* 歌词 star */

#FPLyricBar {
    width: 300px;
    height: 40px;
    background-color: rgb(88, 67, 139);
    position: absolute;
    bottom: 0px;
    z-index: 1;
    overflow: hidden;
}

#FPLyricBar_in_bar {
    color: white;
    text-align: center;
    /*overflow: scroll;*/
    /*overflow: hidden;*/
    width: 90%;
    height: 100%;
    margin-left: 5%;
    position: absolute;
}

.FPlayerLyricContent p{
    width: 100%;
    height: 100%;
    font-size: 25px
}

#FPLyricBar_in_bar::-webkit-scrollbar {
    display: none;

}

.FPlayer_lyric {
    display: block;
    font-size: 20px;
    white-space: nowrap;
    margin-top: 4px;
}

.FPlayerLyricContent {
    width: 100%;
    height: 40px;
}

/* 歌词 over */


/* 列表 star */

#FPListBar {
    width: 100%;
    height: 100%;
    background-color: rgb(70, 46, 124);
    position: relative;
    z-index: 0;
    transform: translateY(160px);
    overflow: scroll;
    /*padding-top: 2px;*/
}

#FPListBar_in_bar {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    position: absolute;
}

#FPListBar::-webkit-scrollbar {
    display: none;
}

.FPlayerListContents {
    width: 48%;
    height: 72px;
    margin: 1%;
    /*background-color: #fff;*/
    border-radius: 12px;
    display: block;
    float: left;
    overflow: hidden;
    box-shadow: 0px 0px 5px #190634;
    position: relative;
}

.FPlayerListContents div:nth-child(1) {
    position: absolute;
    width: 100%;
    height: auto;
    float: left;
    overflow: hidden;
}

.FPlayerListContent_img {
    width: 100%;
    height: auto;
    /*background-color: #fff;*/
    /*position: absolute;*/
    float: left;
    border-radius: 10%;
    background-color: #fff;
    /*box-shadow: 4px 0px 1px #3b104c;*/
    /*opacity: 0.7;*/
    transform: translateY(0%);
}

.FPlayerListContents div:nth-child(2),
.FPlayerListContents div:nth-child(3) {
    position: absolute;
    display: block;
    width: 100%;
    height: 36px;
    float: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.41);
    line-height: 36px;
    text-align: center;
}

.FPlayerListContents div:nth-child(2) {
    top: 0px;
}

.FPlayerListContents div:nth-child(3) {
    bottom: 0px;
}

.FPlayerListContent_p1,
.FPlayerListContent_p2 {
    width: 100%;
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    position: absolute;
    font-size: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.30);
}
.FPlayerListContent_p2{
    margin-top: 36px;
}


/* 列表 over */