*{
    margin: 0px;
    padding: 0px;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#webMusicPlayer_bodyBar {
    width: 400px;
    height: 150px;
    background-color: #7f8c8d;
    border: solid 1px black;
    position: absolute;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

#webMusicPlayer_musicImages {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #95a5a6;
    position: absolute;
    top: 10px;
    left: 10px;
}

#webMusicPlayer_musicContent {
    width: 240px;
    height: 130px;
    background-color: #bdc3c7;
    position: relative;
    float: right;
    top: 10px;
    right: 10px;
    border-radius: 20px;
}

button{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    z-index: 999;
    /* position: absolute; */
    top: 0px;
    left: 0px;
}